<div class="row m-5">
    <h5 class="col-xs-12">Regarding ancient measures</h5>
    <ul class="col-xs-12 py-0" role="list">
        <li class="text-justify" role="listitem">
            Barresi P. (1990) Sopravvivenze dell’unità di misura punica e i suoi rapporti con il piede romano
            nell’Africa di età
            imperiale, in «L’Africa romana», vol. 8 (1990), 479-502.
        </li>
        <li class="text-justify" role="listitem">
            Berriman A.E. (1955), A new approach to the study of ancient metrology in «Revue d’Assyriologie et
            d’archeologie orientale», vol. 49 (1955), 193-201.
        </li>
        <li class="text-justify" role="listitem">
            Ciarallo A., De Carolis E. (eds) (1999), Homo faber. Natura, scienza e tecnica nell’Antica Pompei, Milano
            1999.
        </li>
        <li class="text-justify" role="listitem">
            Corcoran S., DeLaine, J. (1994), The unit measurement of marble in Diocletian’s Prices Edict, in «JRA» vol 7
            (1994).
        </li>
        <li class="text-justify" role="listitem">
            Corti C., N. Giordani (eds) (2001) Pondera, pesi e misure nell’antichità, Campogalliano 2001.
        </li>
        <li class="text-justify" role="listitem">
            Dekoulakou-Sideris I. (1990), A metrological relief from Salamis, «AJA», vol. 94 (1990), 445-451.
        </li>
        <li class="text-justify" role="listitem">
            Di Pasquale, G., Marchis, V.(1996) Alcune considerazioni sul pes romanus, Nuncius vol. 2 (1996), 669-675.
        </li>
        <li class="text-justify" role="listitem">
            Fernie E. (1981), The Greek Metrological Relief in Oxford, «The Antiquaries journal», vol. 61 (1981),
            255-263.
        </li>
        <li class="text-justify" role="listitem">
            Flinders Petrie W.M. (2013), Inductive Metrology or the Recovery of Ancient Measures from the Monuments,
            Cambridge
            2013.
        </li>
        <li class="text-justify" role="listitem">
            Gyllenbok J. (2010) Encyclopaedia of Historical Metrology, Weights and Measures 2010.
        </li>
        <li class="text-justify" role="listitem">
            Kidson P. (1990), A metrological investigation, in «Journal of the Warburg and Courtauld Institutes», vol.
            53
            (1990), 71-97.
        </li>
        <li class="text-justify" role="listitem">
            N.H. (2000), Pes, in Thesaurus Linguae Latinae, vol. X.1, 1893-1915.
        </li>
        <li class="text-justify" role="listitem">
            Sagrè A. (1927), Metrologia e circolazione monetaria degli antichi, Bologna 1927.
        </li>
    </ul>
</div>