<div class="card">
    <div class="card-header" id="card-stadium-romani">
        <h5 class="mb-0">
            Stadium
            <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse-stadium-romani"
                aria-expanded="true" aria-controls="collapse-stadium-romani" (click)="toggleStadiumRomani()"
                aria-label="stadium card collapse">
                <i [class]="stadiumRomani.collapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
            </button>
        </h5>
    </div>
    <div id="collapse-stadium-romani" class="collapse" aria-labelledby="card-stadium-romani"
        data-parent="#accordion-roman">
        <div class="card-body">
            <form role="form" #stadiumRomaniForm="ngForm">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="number" min="0" step="1" class="form-control" [(ngModel)]="stadiumRomani.stadium"
                            (change)="roundStadiumRomaniNumber()" name="stadium-romani-stadium" aria-label="stadium"
                            aria-required="true">
                    </div>
                    <div class="col-auto">
                        <ng-select [items]="conversionMeasures" name="stadium-romani-measure" [clearable]="false"
                            [(ngModel)]="stadiumRomani.measure" (change)="deleteStadiumRomaniResult()">
                        </ng-select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="form-control btn btn-primary" [disabled]="!stadiumRomani.stadium" role="button"
                            (click)="convertStadiumRomani()" aria-label="convert"
                            [attr.aria-disabled]="!stadiumRomani.stadium">Convert</button>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" [ngModel]="stadiumRomani.result"
                            name="stadium-romani-result" disabled aria-disabled="true" aria-label="result">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>