<div class="card">
    <div class="card-header" id="card-pous-attic">
        <div class="row">
            <div class="col-6">
                <h5 class="mb-0 font-weight-normal">
                    Attic / Cicladic Foot
                </h5>
            </div>
            <div class="col-6">
                <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse-pous-attic"
                    aria-expanded="true" aria-controls="collapse-pous-attic" (click)="togglePousAttic()"
                    aria-label="attic or cicladic foot card collapse">
                    <i [class]="pousAttic.collapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="collapse-pous-attic" class="collapse" aria-labelledby="card-pous-attic" data-parent="#accordion-greek">
        <div class="card-body">
            <form role="form" #pousAtticForm="ngForm">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="number" min="0" step="1" class="form-control" [(ngModel)]="pousAttic.pous"
                            (change)="roundPousAtticNumber()" name="pous-attic-pous" aria-label="attic or cicladic foot"
                            aria-required="true">
                    </div>
                    <div class="col-auto">
                        <ng-select [items]="conversionMeasures" name="pous-attic-measure" [clearable]="false"
                            [(ngModel)]="pousAttic.measure" (change)="deletePousAtticResult()">
                        </ng-select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="form-control btn btn-primary" [disabled]="!pousAttic.pous"
                            role="button" (click)="convertPousAttic()" aria-label="convert"
                            [attr.aria-disabled]="!pousAttic.pous">Convert</button>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" [ngModel]="pousAttic.result" name="pous-attic-result"
                            disabled aria-disabled="true" aria-label="result">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>