<div class="row m-5">
    <div class="col-md-12">
        <p role="contentinfo" class="text-justify">
            The aim of this project is to propose a web application (PedesConverter) dedicated to convert ancient
            measures
            into
            modern ones.
            The converter is based on data from scientific bibliography regarding greek and roman measures.
            There have been used several sources: literary, archaeological, epigraphic in order to better define values
            and
            equivalences.
            <br>
            <br>
            The idea was first presented in 2016 in Catania, during the <a class="link" role="link"
                title="OKOA 2016 Workshop" href="https://www.dmi.unict.it/~longo/okoa16/">OKOA (Open Knowledge Open Art)
                Workshop</a> and the app
            has been developed in 2020.
            <br>
            <br>
            The source cod of this project is on <a class="link" role="link" title="PedesConverter GitHub page"
                href="https://github.com/tomthebearded/pedes-converter">GitHub</a>.
            <br>
            <br>
            Thanks to <a class="link" role="link" title="Riccardo Rametta's website"
                href="https://ramedesign.it/">Riccardo Rametta</a> for the icon.
        </p>
    </div>
    <br>
    <br>
    <div class="col-md-12">
        <ul role="list">
            <li role="listitem">Researcher: <a class="link" role="link" title="Silvia Gazzoli's Academia page"
                    href="https://unimi.academia.edu/SilviaGazzoli">Silvia Gazzoli</a></li>
            <li role="listitem">Developer: <a class="link" role="link" title="Tommaso Mastroberardino's Linkedin page"
                    href="https://www.linkedin.com/in/tommasomastroberardino/">Tommaso
                    Mastroberardino</a></li>
        </ul>
    </div>
    <br>
    <br>
    <div class="col-md-12">
        <p>For further information, make suggestions or report errors, please feel free to contact as at <a class="link"
                title="pedesconverter email" role="link"
                href="mailto:info@pedesconverter.com">info@pedesconverter.com</a>.</p>
    </div>
    <br>
    <br>
    <div class="col-md-12">
        <p class="text-justify" role="contentinfo">If you want to support further develpments or hosting costs you can
            make a small donation via <a class="link paypal-link" role="link" title="paypal link" target="_blank"
                href="https://www.paypal.me/PedesConverter"><i class="fab fa-cc-paypal"></i></a>.</p>
    </div>
</div>