<div class="card">
    <div class="card-header" id="card-stadion-doric">
        <div class="row">
            <div class="col-6">
                <h5 class="mb-0 font-weight-normal">
                    Stadion Doric
                </h5>
            </div>
            <div class="col-6">
                <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse-stadion-doric"
                    aria-expanded="true" aria-controls="collapse-stadion-doric" (click)="toggleStadionDoric()"
                    aria-label="stadion doric card collapse">
                    <i [class]="stadionDoric.collapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="collapse-stadion-doric" class="collapse" aria-labelledby="card-stadion-doric"
        data-parent="#accordion-greek">
        <div class="card-body">
            <form role="form" #stadionDoricForm="ngForm">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="number" min="0" step="1" class="form-control" [(ngModel)]="stadionDoric.stadion"
                            (change)="roundStadionDoricNumber()" name="stadion-doric-stadion" aria-label="stadion doric"
                            aria-required="true">
                    </div>
                    <div class="col-auto">
                        <ng-select [items]="conversionMeasures" name="stadion-doric-measure" [clearable]="false"
                            [(ngModel)]="stadionDoric.measure" (change)="deleteStadionDoricResult()">
                        </ng-select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="form-control btn btn-primary" [disabled]="!stadionDoric.stadion"
                            role="button" (click)="convertStadionDoric()" aria-label="convert"
                            [attr.aria-disabled]="!stadionDoric.stadion">Convert</button>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" [ngModel]="stadionDoric.result"
                            name="stadion-doric-result" disabled aria-disabled="true" aria-label="result">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>