<div class="card">
    <div class="card-header" id="card-uncia-romana">
        <div class="row">
            <div class="col-6">
                <h5 class="mb-0 font-weight-normal">
                    Uncia
                </h5>
            </div>
            <div class="col-6">
                <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse-uncia-romana"
                    aria-expanded="true" aria-controls="collapse-uncia-romana" (click)="toggleUnciaRomana()"
                    aria-label="uncia card collapse">
                    <i [class]="unciaRomana.collapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="collapse-uncia-romana" class="collapse" aria-labelledby="card-uncia-romana" data-parent="#accordion-roman">
        <div class="card-body">
            <form role="form" #unciaRomanaForm="ngForm">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="number" min="0" step="1" class="form-control" [(ngModel)]="unciaRomana.uncia"
                            (change)="roundUnciaRomanaNumber()" name="uncia-romana-uncia" aria-label="uncia"
                            aria-required="true">
                    </div>
                    <div class="col-auto">
                        <ng-select [items]="conversionMeasures" name="uncia-romana-measure" [clearable]="false"
                            [(ngModel)]="unciaRomana.measure" (change)="deleteUnciaRomanaResult()">
                        </ng-select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="form-control btn btn-primary" [disabled]="!unciaRomana.uncia"
                            role="button" (click)="convertUnciaRomana()" aria-label="convert"
                            [attr.aria-disabled]="!unciaRomana.uncia">Convert</button>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" [ngModel]="unciaRomana.result"
                            name="uncia-romana-result" disabled aria-disabled="true" aria-label="result">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>