<div class="card">
    <div class="card-header" id="card-pous-doric">
        <div class="row">
            <div class="col-6">
                <h5 class="mb-0 font-weight-normal">
                    Doric Foot
                </h5>
            </div>
            <div class="col-6">
                <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse-pous-doric"
                    aria-expanded="true" aria-controls="collapse-pous-doric" (click)="togglePousDoric()"
                    aria-label="doric foot card collapse">
                    <i [class]="pousDoric.collapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="collapse-pous-doric" class="collapse" aria-labelledby="card-pous-doric" data-parent="#accordion-greek">
        <div class="card-body">
            <form role="form" #pousDoricForm="ngForm">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="number" min="0" step="1" class="form-control" [(ngModel)]="pousDoric.pous"
                            (change)="roundPousDoricNumber()" name="pous-doric-pous" aria-label="doric foot"
                            aria-required="true">
                    </div>
                    <div class="col-auto">
                        <ng-select [items]="conversionMeasures" name="pous-doric-measure" [clearable]="false"
                            [(ngModel)]="pousDoric.measure" (change)="deletePousDoricResult()">
                        </ng-select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="form-control btn btn-primary" [disabled]="!pousDoric.pous"
                            role="button" (click)="convertPousDoric()" aria-label="convert"
                            [attr.aria-disabled]="!pousDoric.pous">Convert</button>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" [ngModel]="pousDoric.result" name="pous-doric-result"
                            disabled aria-disabled="true" aria-label="result">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>