<div class="card">
    <div class="card-header" id="card-actus-romani">
        <h5 class="mb-0">
            Actus
            <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse-actus-romani"
                aria-expanded="true" aria-controls="collapse-actus-romani" (click)="toggleActusRomani()"
                aria-label="actus card collapse">
                <i [class]="actusRomani.collapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
            </button>
        </h5>
    </div>
    <div id="collapse-actus-romani" class="collapse" aria-labelledby="card-actus-romani" data-parent="#accordion-roman">
        <div class="card-body">
            <form role="form" #actusRomaniForm="ngForm">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="number" min="0" step="1" class="form-control" [(ngModel)]="actusRomani.actus"
                            (change)="roundActusRomaniNumber()" name="actus-romani-actus" aria-label="actus"
                            aria-required="true">
                    </div>
                    <div class="col-auto">
                        <button type="button" name="actus-romani-semis" class="form-control btn btn-primary"
                            (click)="toggleSemis()" role="button">
                            <i [class]="actusRomani.semis ? 'fas fa-toggle-on' : 'fas fa-toggle-off'"></i>
                            Semis</button>
                    </div>
                    <div class="col-auto">
                        <ng-select [items]="conversionMeasures" name="actus-romani-measure" [clearable]="false"
                            [(ngModel)]="actusRomani.measure" (change)="deleteActusRomaniResult()">
                        </ng-select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="form-control btn btn-primary" [disabled]="!actusRomani.actus" role="button"
                            (click)="convertActusRomani()" aria-label="convert"
                            [attr.aria-disabled]="!actusRomani.actus">Convert</button>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" [ngModel]="actusRomani.result"
                            name="actus-romani-result" disabled aria-disabled="true" aria-label="result">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>