<div class="card">
    <div class="card-header" id="card-cotyle">
        <div class="row">
            <div class="col-6">
                <h5 class="mb-0 font-weight-normal">
                    Cotyle
                </h5>
            </div>
            <div class="col-6">
                <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse-cotyle"
                    aria-expanded="true" aria-controls="collapse-cotyle" (click)="toggleCotyle()"
                    aria-label="cotyle card collapse">
                    <i [class]="cotyle.collapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="collapse-cotyle" class="collapse" aria-labelledby="card-cotyle" data-parent="#accordion-greek">
        <div class="card-body">
            <form role="form" #cotyleForm="ngForm">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="number" min="0" step="1" class="form-control" [(ngModel)]="cotyle.cotyle"
                            (change)="roundCotyleNumber()" name="cotyle-cotyle" aria-label="cotyle"
                            aria-required="true">
                    </div>
                    <div class="col-auto">
                        <ng-select [items]="conversionMeasures" name="cotyle-measure" [clearable]="false"
                            [(ngModel)]="cotyle.measure" (change)="deleteCotyleResult()">
                        </ng-select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="form-control btn btn-primary" [disabled]="!cotyle.cotyle"
                            role="button" (click)="convertCotyle()" aria-label="convert"
                            [attr.aria-disabled]="!cotyle.cotyle">Convert</button>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" [ngModel]="cotyle.result" name="cotyle-result"
                            disabled aria-disabled="true" aria-label="result">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>