<div class="card">
    <div class="card-header" id="card-romans-measures">
        <div class="row">
            <div class="col-6">
                <h5 class="mb-0">
                    Roman Measures
                </h5>
            </div>
            <div class="col-6">
                <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse-romans-measures"
                    aria-expanded="true" aria-controls="collapse-romans-measures" (click)="toggleRomansMeasures()"
                    role="button" aria-label="roman measures card collapse">
                    <i [class]="collapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="collapse-romans-measures" class="collapse show" aria-labelledby="card-romans-measures"
        data-parent="#accordion-measures">
        <div class="card-body">
            <div id="accordion-roman">
                <app-pedes-romani-card [romanCardsIds]="romanCardsIds" (messageToEmit)="getId($event)">
                </app-pedes-romani-card>
                <app-passus-romani-card [romanCardsIds]="romanCardsIds" (messageToEmit)="getId($event)">
                </app-passus-romani-card>
                <app-actus-romani-card [romanCardsIds]="romanCardsIds" (messageToEmit)="getId($event)">
                </app-actus-romani-card>
                <app-stadium-romani-card [romanCardsIds]="romanCardsIds" (messageToEmit)="getId($event)">
                </app-stadium-romani-card>
                <app-modium-romani-card [romanCardsIds]="romanCardsIds" (messageToEmit)="getId($event)">
                </app-modium-romani-card>
                <app-uncia-romana-card [romanCardsIds]="romanCardsIds" (messageToEmit)="getId($event)">
                </app-uncia-romana-card>
                <app-libra-romana-card [romanCardsIds]="romanCardsIds" (messageToEmit)="getId($event)">
                </app-libra-romana-card>
            </div>
        </div>
    </div>
</div>