<div class="card">
    <div class="card-header" id="card-modium-romani">
        <h5 class="mb-0">
            Modium
            <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse-modium-romani"
                aria-expanded="true" aria-controls="collapse-modium-romani" (click)="toggleModiumRomani()"
                aria-label="modium card collapse">
                <i [class]="modiumRomani.collapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
            </button>
        </h5>
    </div>
    <div id="collapse-modium-romani" class="collapse" aria-labelledby="card-modium-romani"
        data-parent="#accordion-roman">
        <div class="card-body">
            <form role="form" #modiumRomaniForm="ngForm">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="number" min="0" step="1" class="form-control" [(ngModel)]="modiumRomani.modium"
                            (change)="roundModiumRomaniNumber()" name="modium-romani-modium" aria-label="modium"
                            aria-required="true">
                    </div>
                    <div class="col-auto">
                        <select role="listbox" class="selectpicker" [(ngModel)]="modiumRomani.measure"
                            name="passus-romani-measure" (change)="deleteModiumRomaniResult()" aria-label="measures">
                            <option role="option" *ngFor="let measure of conversionMeasures" [value]="measure"
                                [attr.aria-label]="measure">
                                {{measure}}
                            </option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary" [disabled]="!modiumRomani.modium" role="button"
                            (click)="convertModiumRomani()" aria-label="convert"
                            [attr.aria-disabled]="!modiumRomani.modium">Convert</button>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" [ngModel]="modiumRomani.result"
                            name="modium-romani-result" disabled aria-disabled="true" aria-label="result">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>