<div class="card">
    <div class="card-header" id="card-modium-romani">
        <h5 class="mb-0">
            Modium
            <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse-modium-romani"
                aria-expanded="true" aria-controls="collapse-modium-romani" (click)="toggleModiumRomani()"
                aria-label="modium card collapse">
                <i [class]="modiumRomani.collapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
            </button>
        </h5>
    </div>
    <div id="collapse-modium-romani" class="collapse" aria-labelledby="card-modium-romani"
        data-parent="#accordion-roman">
        <div class="card-body">
            <form role="form" #modiumRomaniForm="ngForm">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="number" min="0" step="1" class="form-control" [(ngModel)]="modiumRomani.modium"
                            (change)="roundModiumRomaniNumber()" name="modium-romani-modium" aria-label="modium"
                            aria-required="true">
                    </div>
                    <div class="col-auto">
                        <ng-select [items]="conversionMeasures" name="passus-romani-measure" [clearable]="false"
                            [(ngModel)]="modiumRomani.measure" (change)="deleteModiumRomaniResult()">
                        </ng-select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="form-control btn btn-primary" [disabled]="!modiumRomani.modium" role="button"
                            (click)="convertModiumRomani()" aria-label="convert"
                            [attr.aria-disabled]="!modiumRomani.modium">Convert</button>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" [ngModel]="modiumRomani.result"
                            name="modium-romani-result" disabled aria-disabled="true" aria-label="result">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>