<div class="card">
    <div class="card-header" id="card-passus-romani">
        <div class="row">
            <div class="col-6">
                <h5 class="mb-0 font-weight-normal">
                    Passus
                </h5>
            </div>
            <div class="col-6">
                <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse-passus-romani"
                    aria-expanded="true" aria-controls="collapse-passus-romani" (click)="togglePassusRomani()"
                    aria-label="passus card collapse">
                    <i [class]="passusRomani.collapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="collapse-passus-romani" class="collapse" aria-labelledby="card-passus-romani"
        data-parent="#accordion-roman">
        <div class="card-body">
            <form role="form" #passusRomaniForm="ngForm">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <input type="number" min="0" step="1" class="form-control" [(ngModel)]="passusRomani.passus"
                            (change)="roundPassusRomaniNumber()" name="passus-romani-passus" aria-label="passus"
                            aria-required="true">
                    </div>
                    <div class="col-auto">
                        <button type="button" name="passus-romani-semis" class="form-control btn btn-primary"
                            (click)="toggleSemis()" role="button">
                            <i [class]="passusRomani.semis ? 'fas fa-toggle-on' : 'fas fa-toggle-off'"></i>
                            Semis</button>
                    </div>
                    <div class="col-auto">
                        <ng-select [items]="conversionMeasures" name="passus-romani-measure" [clearable]="false"
                            [(ngModel)]="passusRomani.measure" (change)="deletePassusRomaniResult()">
                        </ng-select>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="form-control btn btn-primary" [disabled]="!passusRomani.passus"
                            role="button" (click)="convertPassusRomani()" aria-label="convert"
                            [attr.aria-disabled]="!passusRomani.passus">Convert</button>
                    </div>
                    <div class="col-auto">
                        <input type="number" class="form-control" [ngModel]="passusRomani.result"
                            name="passus-romani-result" disabled aria-disabled="true" aria-label="result">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>