/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "~@ng-select/ng-select/scss/default.theme.scss";

$fa-font-path: "~node_modules/@fortawesome/fontawesome-free/webfonts/";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

$background-color: black;
$background-light-color: #494949;
$primary-color: #eab01d;
$secondary-color: #c4a966;

body {
  margin: 0;
  height: 100%;
  background-color: $background-color;
  color: $primary-color;
}

a {
  color: $primary-color !important;
}

.navbar {
  background-color: $background-color;
}

.navbar-toggler-icon {
  background-image: url("../src/assets/icons/Pedes_512x512.png") !important;
}

.nav-link {
  color: $secondary-color !important;

  @include hover-focus() {
    color: $primary-color !important;
  }
}

.btn-link {
  color: $primary-color !important;
}

.btn-primary {
  color: black !important;
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  &:disabled {
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
  }
}

.card {
  background-color: $background-color;
  .card-header {
    background-color: $background-light-color;
  }
}

.col-auto {
  padding: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  &.link {
    color: $secondary-color !important;
  }
  &.paypal-link {
    font-size: 3rem;
    vertical-align: middle;
  }
}

.bootstrap-select {
  width: auto !important;
  .dropdown-toggle {
    background-color: #e9ecee !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
  }
  .dropdown-item {
    color: black !important;
    &:active {
      background-color: $primary-color !important;
      border: 1px solid $primary-color !important;
    }
    &.active {
      background-color: $primary-color !important;
      border: 1px solid $primary-color !important;
    }
    &:focus {
      outline-color: $primary-color;
    }
  }
}

.ng-select {
  height: calc(1.5em + 0.75rem + 2px);
  width: 100%;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  .ng-select-container {
    padding: 0;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px) !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

.ng-option-marked {
  background-color: $secondary-color !important;
}

.ng-option-selected {
  background-color: $primary-color !important;
}


