<div class="card">
    <div class="card-header" id="card-romans-measures">
        <h5 class="mb-0">
            Roman Measures
            <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse-romans-measures"
                aria-expanded="true" aria-controls="collapse-romans-measures" (click)="toggleRomansMeasures()">
                <i [class]="collapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
            </button>
        </h5>
    </div>
    <div id="collapse-romans-measures" class="collapse show" aria-labelledby="card-romans-measures"
        data-parent="#accordion-measures">
        <div class="card-body">
            <div id="accordion-roman">
                <app-pedes-romani-card></app-pedes-romani-card>
                <app-passus-romani-card></app-passus-romani-card>
                <app-modium-romani-card></app-modium-romani-card>
                <app-libra-romana-card></app-libra-romana-card>
                <app-stadium-romani-card></app-stadium-romani-card>
                <app-uncia-romana-card></app-uncia-romana-card>
            </div>
        </div>
    </div>
</div>