<div class="card">
    <div class="card-header" id="card-greek-measures">
        <h5 class="mb-0">
            Greek Measures
            <button class="btn btn-link float-right" data-toggle="collapse" data-target="#collapse-greek-measures"
                aria-expanded="true" aria-controls="collapse-greek-measures" (click)="toggleGreekMeasures()">
                <i [class]="collapsed ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"></i>
            </button>
        </h5>
    </div>
    <div id="collapse-greek-measures" class="collapse" aria-labelledby="card-greek-measures"
        data-parent="#accordion-measures">
        <div class="card-body">
            <div id="accordion-greek">
                <app-stadion-attic-card></app-stadion-attic-card>
                <app-cotyle-card></app-cotyle-card>
            </div>
        </div>
    </div>
</div>